<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_code %><br>
    <%= f.number_field :article_code, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br>
    <%= f.number_field :supplier_id, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :price_per_unit %><br>
    <%= f.number_field :price_per_unit, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= button_to t('.save'), articles_path, class: 'btn btn-orange pull-right', method: 'post' %>
  </div>
<% end %>
