<h1><%= t('.list') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.code') %></th>
      <th><%= t('.supplier') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.price') %></th>
      <th><%= t('.unit') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.article_code %></td>
        <td><%= article.supplier_id %></td>
        <td><%= article.description %></td>
        <td><%= article.price_per_unit %></td>
        <td><%= article.unit %></td>
        <td><%= link_to t('.show'), article %></td>
        <td><%= link_to t('.edit'), edit_article_path(article) %></td>
        <td><%= link_to t('.destroy'), article, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_article'), new_article_path %>
