<div class='col-md-10 col-md-offset-1'>
  <h1><%= t('.list') %></h1>

  <br />

  <div class='row'>
    <%= form_for(@article, url: articles_path) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this order_line from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <div class="field col-md-2">
        <%= f.label :article_code %><br>
        <%= f.number_field :article_code, class: 'form-control', required: true %>
      </div>
      <div class="field col-md-2">
        <%= f.label :supplier_id %><br>
        <%= f.number_field :supplier_id, class: 'form-control', required: true %>
      </div>
      <div class="field col-md-2">
        <%= f.label :description %><br>
        <%= f.text_field :description, class: 'form-control', required: true %>
      </div>
      <div class="field col-md-2">
        <%= f.label :price_per_unit %><br>
        <%= f.number_field :price_per_unit, class: 'form-control', required: true %>
      </div>
      <div class="field col-md-2">
        <%= f.label :unit %><br>
        <%= f.text_field :unit, class: 'form-control', required: true %>
      </div>  
      
      <div class="field col-md-2">
        <%= f.label :yay! %><br>
        <%= button_to 'add article', articles_path, class: 'btn btn-orange', method: 'post' %>
      </div>
    </div>
    <% end %>
  </div>


  <br />

  <div class='panel panel-success'>
    <table class='table'>
      <thead>
        <tr>
          <th><%= t('.code') %></th>
          <th><%= t('.supplier') %></th>
          <th><%= t('.description') %></th>
          <th><%= t('.price') %></th>
          <th><%= t('.unit') %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.article_code %></td>
            <td><%= article.supplier_id %></td>
            <td><%= article.description %></td>
            <td><%= article.price_per_unit %></td>
            <td><%= article.unit %></td>
            <td><%= link_to "<span class='fa fa-folder-open'></span>".html_safe, article %></td>
            <td><%= link_to "<span class='fa fa-edit'></span>".html_safe, edit_article_path(article) %></td>
            <td><%= link_to "<span class='fa fa-trash-o'></span>".html_safe, article, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<script type="text/javascript">
$(document).ready(function() {
    $('#articles').addClass('active');
});
</script>
