<div class="col-md-4 col-md-offset-4">
  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= t('.code') %></strong>
    <%= @article.article_code %>
  </p>

  <p>
    <strong><%= t('.supplier') %></strong>
    <%= @article.supplier_id %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= @article.description %>
  </p>

  <p>
    <strong><%= t('.price') %></strong>
    <%= @article.price_per_unit %>
  </p>

  <p>
    <strong><%= t('.unit') %></strong>
    <%= @article.unit %>
  </p>

  <%= button_to t('.back'), articles_path, class: 'btn btn-orange', method: 'get' %>
</div>
