<p id="notice"><%= notice %></p>

<p>
  <strong>Article code:</strong>
  <%= @article.article_code %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @article.supplier_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price per unit:</strong>
  <%= @article.price_per_unit %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @article.unit %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
