<div class="col-md-4 col-md-offset-4">

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- to decide if to keep or not / to add a new column -->
  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id, min: 1, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.date_select :order_date %>
  </div>
  <!-- <div class="field"> -->
    <!-- < %= f.label :user_id %><br> -->
    <!-- < %= f.text_field :user_id, value: current_user.email %> -->
  <!-- </div> -->
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.date_select :delivery_date %>
  </div>
  
  <div>
    <%= button_to t('.save_order'), orders_path, class: 'btn btn-success pull-right', method: 'post' %>
  </div>

<% end %>
</div>
