<div class='col-md-8 col-md-offset-2'>
  <h1>Listing orders</h1>

  <br>

  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Order date</th>
        <th>User</th>
        <th>Delivery date</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.order_date %></td>
          <td><%= order.user.email if order.user %></td>
          <td><%= order.delivery_date %></td>
          <td><%= link_to "<span class='fa fa-folder-open'></span>".html_safe, order %></td>
          <td><%= link_to "<span class='fa fa-code-fork'></span>".html_safe, duplicate_order_path(order), method: :post %></td>
          <td><%= link_to "<span class='fa fa-trash-o'></span>".html_safe, order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="col-md-4 col-md-offset-5">
  <%= link_to "<button type='button', class='btn btn-success col-md-6'>New Order</button>".html_safe, new_order_path %> 
</div>
