<div class='col-md-12'>
  <div class='row'>
  <div class='col-md-3'>
    <p>
      <strong><%= t('.order_id') %></strong>
      <%= @order.id %>
    </p>

    <p>
      <strong><%= t('.order_date') %></strong>
      <%= @order.order_date %>
    </p>

    <p>
      <strong><%= t('.delivery_date') %></strong>
      <%= @order.delivery_date %>
    </p>

    <%= button_to t('.edit'), edit_order_path(@order), class: 'btn btn-orange', method: 'get' %>
    <%= button_to t('.back'), orders_path, class: 'btn btn-orange', method: 'get' %>
  </div>

  <div class='col-md-8 col-md-offset-1'>

    <br>

    <table>
      <thead>
        <tr>
          <th><%= t('.article_description') %></th>
          <th><%= t('.amount') %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </thead>

      <tbody>
        <% @order.order_lines.each do |line| %>
        <tr>
          <td><%= line.article.description %></td>
          <td><%= line.amount %></td>
          <td><%= link_to "<span class='fa fa-edit'></span>".html_safe, edit_order_path(@order) %></td>
          <td><%= link_to "<span class='fa fa-plus'></span>".html_safe, more_order_line_path(line), method: :put %></td>
          <td><%= link_to "<span class='fa fa-minus'></span>".html_safe, less_order_line_path(line), method: :put %></td>
          <td><%= link_to "<span class='fa fa-trash-o'></span>".html_safe, line, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  </div>
</div>
