<div class='col-md-12'>
  <div class='row'>
  <div class='col-md-3'>
    <p>
      <strong>Order:</strong>
      <%= @order.id %>
    </p>

    <p>
      <strong>Order date:</strong>
      <%= @order.order_date %>
    </p>

    <p>
      <strong>Delivery date:</strong>
      <%= @order.delivery_date %>
    </p>

    <%= link_to "<button type='button', class='btn btn-success'>Edit</button>".html_safe, edit_order_path(@order) %>
      
    <%= link_to "<button type='button', class='btn btn-success'>Back</button>".html_safe, orders_path %>
  </div>

  <div class='col-md-8 col-md-offset-1'>
   
    <br>

    <table>
      <thead>
        <tr>
          <th>Article description</th>
          <th>Amount</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </thead>

      <tbody>
        <% @order.order_lines.each do |line| %>
        <tr>
          <td><%= line.article.description %></td>
          <td><%= line.amount %></td>
          <td><%= link_to "<span class='fa fa-edit'></span>".html_safe, edit_order_path(@order) %></td>
          <td><%= link_to "<span class='fa fa-plus'></span>".html_safe, more_order_line_path(line), method: :put %></td>
          <td><%= link_to "<span class='fa fa-minus'></span>".html_safe, less_order_line_path(line), method: :put %></td>
          <td><%= link_to "<span class='fa fa-trash-o'></span>".html_safe, line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  </div>
</div>