<div class='col-md-12'>
  <div class='row'>
  <div class='col-md-3'>
    <p>
      <strong><%= t('.order') %></strong>
      <%= @order.id %>
    </p>

    <p>
      <strong><%= t('.order_date') %></strong>
      <%= @order.order_date %>
    </p>

    <p>
      <strong><%= t('.user') %></strong>
      <%= current_user.email %>
    </p>

    <p>
      <strong><%= t('.delivery_date') %></strong>
      <%= @order.delivery_date %>
    </p>

    <%= button_to t('.edit'), edit_order_path(@order), class: 'btn btn-success' %>
    <br />
    <%= button_to t('.back'), orders_path, class: 'btn btn-success' %>  
    <br />
    <%= button_to t('.send_for_review'), send_review_order_path(@order), class: 'btn btn-success', method: 'post' %>
    <br />
    <%= button_to t('.send_final_order'), send_final_order_path, class: 'btn btn-success' %>
  </div>

  <div class='col-md-8 col-md-offset-1'>
    <%= form_for(@order_line, url: order_lines_path) do |f| %>
      <% if @order_line.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order_line.errors.count, "error") %> prohibited this order_line from being saved:</h2>

          <ul>
          <% @order_line.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='row'>
        <div class='form-group'>
          <div class="field col-md-4 dropdown">
            <%= f.collection_select(:article_id, Article.order(:description), :id, :description, {prompt: false}, title: t('.select_article'), class: 'btn btn-default dropdown-toggle') %>
          </div>
          <div class="field col-md-3">
            <%= f.number_field :amount, placeholder: t('.amount'), min: 1, class: 'form-control' %>
          </div>
          <div class="col-md-3 pull-right">
            <%= f.hidden_field :order_id, value: params[:id] %>
            <%= button_to t('.add_article'), orders_path, class: 'btn btn-success', method: 'post' %>
          </div>
        </div>
      </div>

    <% end %>

    <br>

  <div class='panel panel-success'>
    <table class='table'>
      <thead>
        <tr>
          <th><%= t('.article_description') %></th>
          <th><%= t('.amount') %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </thead>

      <tbody class='panel-body'>
        <% @order.order_lines.each do |line| %>
        <tr>
          <td><%= line.article.description %></td>
          <td><%= line.amount %></td>
          <td><%= link_to "<span class='fa fa-edit'></span>".html_safe, edit_order_path(@order) %></td>
          <td><%= link_to "<span class='fa fa-plus'></span>".html_safe, more_order_line_path(line), method: :put %></td>
          <td><%= link_to "<span class='fa fa-minus'></span>".html_safe, less_order_line_path(line), method: :put %></td>
          <td><%= link_to "<span class='fa fa-trash-o'></span>".html_safe, line, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>

  </div>
</div>
