<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey <%= @user.email %></h3>
    <p>
      Please review the current order created on <%= @order.order_date %>.
      Here it is the list:
      <table>
        <thead>
          <tr text-align='center'>
            <th>Article<th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_lines.each do |order_line| %>
            <tr text-align='center'>
              <td><%= order_line.article.description %></td>
              <td><%= order_line.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
    <p>Click here to modify <%= link_to "the list", review_orders_url(@order.uuid) %>.</p>
    <p>Thank you for your review.</p>
  </body>
</html>