<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.order') %></strong>
  <%= @order_line.order_id %>
</p>

<p>
  <strong><%= t('.article') %></strong>
  <%= @order_line.article_id %>
</p>

<p>
  <strong><%= t('.amount') %></strong>
  <%= @order_line.amount %>
</p>

<%= link_to t('.edit'), edit_order_line_path(@order_line) %> |
<%= link_to t('.back'), order_lines_path %>
