<div class="col-md-4 col-md-offset-4">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Article:</strong>
    <%= @supplier.article_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @supplier.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @supplier.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @supplier.name %>
  </p>

  <%= link_to 'Edit', edit_supplier_path(@supplier), class: 'btn btn-orange' %> |
  <%= link_to 'Back', suppliers_path, class: 'btn btn-orange' %>
</div>
